@import url(//fonts.googleapis.com/css?family=Fredoka+One);
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


*{
  font-family: 'Fredoka One', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #37393A;
  z-index: 10;
}

:root{
  --my-header: #FFA985;
  --my-border: #6E0D25;
}

body{
  background-color: #F2F3F4;
}

div{
  background-color: #D7EEFE;
}

/* Introduction */
.intro{
  height: 100%;
  width: 70%;
  border: 3px solid var(--my-border);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  margin-top: 4rem;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
}

.intro-image{
  height: 50%;
  width: 50%;
  padding: 0;
  margin: 0;
  align-content: center;
  border-radius: 7px;
  flex: 0.75;
}

img{
  border-radius: 20px;
}

.intro-text{
  font-weight: 575;
  align-self: center;
  flex: 1.25;
}

.ucla{
  font-size: 0.85em;
  font-weight: 500;
  align-self: center;
  flex: 1.25;
}

.my-name{
  font-family: 'Fredoka One', sans-serif;
  font-size: 1.85em;
  font-weight: normal;
  color: var(--my-header);
  margin-bottom: 15px;
}

.connect{
  padding: 0.2em;
  font-size: 0.75em;
}

.button{
  color: var(--my-border);
  background-color: #f2f7ff;;
  display: inline-block;
  font-size: 1.25rem;
  border: 3px solid var(--my-header);
  border-radius: 5px;
  padding: 0.5em 0.9em;
  text-align: center;
  text-decoration: none;
}

button:visited{
  /* color: inherit; */
}

.button:hover{
  transition: transform 0.1s ease-out;
  transform: translateY(-3.5px);
  background-color: var(--my-header);
  border: 2.5px solid var(--my-border);
  color: white;
}


/* About Me */
.about-me{
  border: 3px solid var(--my-border);;
  border-radius: 10px;
  padding: 0 15px 15px 15px;
  width: 80%;
  margin: auto;
  margin-top: 2.5em;
}

h2{
  font-family: 'Fredoka One', sans-serif;
  font-size: 2.15em;
  font-weight: normal;
  align-self: right;
  color: var(--my-header);
  text-align: center;
}

u{
  font-family: 'Fredoka One', sans-serif;
  font-size: 1em;
  font-weight: normal;
  align-self: right;
  color: var(--my-header);
  text-align: center;
}

a{
  font-family: 'Raleway', sans-serif;
  font-weight: 650;
}

h3{
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
  font-weight: 650;
}

p{
  font-size: 1.1em;
  font-weight: 550;
  align-self: right;
  line-height: 1.6em;
}

hr{
  width: 15%;
  height: 1px;
  background-color: black;
  color: black;
}

li{
  font-weight: 500;
  font-size: 1.1em;
  margin-bottom: 8px;
  line-height: 1.5em;
}

.li-misc{
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 8px;
}

i{
  font-weight: 500;
  font-size: 1.0em;
  margin-bottom: 8px;
}


a:visited{
  color: var(--my-header);
}

/* Activities */
.activities{
  border: 3px solid var(--my-border);
  border-radius: 10px;
  padding: 0 15px 15px 15px;
  width: 80%;
  margin: auto;
  margin-top: 2.5em;
}


#more-0, #more-1, #more-2, #more-3, #more-4, #more-5, #more-6, #more-7{
  display: none;
}

#dots-0, #dots-1, #dots-2, #dots-3, #dots-4, #dots-5, #dots-6, #dots-7{
  color: white;
  font-size: 1px;
}

#myBtn-0, #myBtn-1, #myBtn-2, #myBtn-3, #myBtn-4, #myBtn-5, #myBtn-6, #myBtn-7{
  border: none;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  background-color: #D7EEFE;
  color: var(--my-header);
  display: inline-block;
  font-size: 1.1rem;
  text-align: center;
  text-decoration: none;
}

#myBtn-0:hover, #myBtn-1:hover, #myBtn-2:hover, #myBtn-3:hover, #myBtn-4:hover, #myBtn-5:hover, #myBtn-6:hover, #myBtn-7:hover{
  cursor: pointer;
}

/* Projects */
.proj{
  border: 3px solid var(--my-border);
  border-radius: 10px;
  padding: 0 15px 15px 15px;
  width: 80%;
  margin: auto;
  margin-top: 2.5em;
}



/* Miscellaneous */
.misc{
  border: 3px solid var(--my-border);
  border-radius: 10px;
  padding: 0 15px 15px 15px;
  width: 80%;
  margin: auto;
  margin-top: 2.5em;
}



/* random */
.random{
  border: 3px solid var(--my-border);
  border-radius: 10px;
  padding: 0 15px 15px 15px;
  width: 80%;
  margin: auto;
  margin-top: 2.5em;
}



/* Footer */
.footer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;
  justify-content: space-around;

  border-top: 3px solid var(--my-border);;
  padding: 0;
  width: 100%;
  min-height: 100px;
  margin-top: 3em;
  background-color: #D7EEFE;
}

.social{
  align-items: right;
  justify-content: right;
  padding-top: 15px;
  padding-left: 150px;
  margin: 0 10px;
  background-color: transparent;
}

.icon{
  padding: 5px;
}



.howdy {
  animation-name: howdy;
  animation-delay: 0.75s;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 60% 70%;
  display: inline-block;
}

@keyframes howdy {
  0% { transform: rotate(0.0deg) }
  10% { transform: rotate(15.0deg) }
  20% { transform: rotate(-14.0deg) }
  30% { transform: rotate(+10.0deg) }
  40% { transform: rotate(-7.0deg) }
  50% { transform: rotate(0.0deg) }
}




@media(max-width: 833px){
  /* body{
    display:none;
  } */
  .intro{
    flex-direction: column;
    width: 90%;
  }
  .about-me, .activities, .proj, .misc, .random{
    width: 90%;
  }
}

/* Mobile */
@media(max-width: 475px){
  /* body{
    display:none;
  } */
  .intro{
    flex-direction: column;
    width: 90%;
  }
  .about-me, .activities, .proj, .misc, .random{
    width: 90%;
  }
  a{
    font-family: 'Fredoka One', sans-serif;
    font-weight:100;
  }

  h3{
    font-family: 'Fredoka One', sans-serif;
    font-weight: 100;
    font-size: 1.3em;
  }
}






.card{
  width: 82%;
  border: 2px solid var(--my-border);
  border-radius: 10px;
  padding: 1rem;
  margin: auto;
  margin-top: 2.5em;
  background-color: #D7EEFE;
}


.button2{
  width: 80%;
  color: var(--my-header);
  background-color: #f2f7ff;
  display: inline-block;
  font-size: 1.25rem;
  border: 3px solid var(--my-header);
  border-radius: 5px;
  padding: 0.5em 0.9em;
  text-align: center;
  text-decoration: none;
}

button:visited{
  /* color: inherit; */
}

.button2:hover{
  transition: transform 0.1s ease-out;
  transform: translateY(-3.5px);
  background-color: var(--my-header);
  border: 2.5px solid var(--my-border);
  color: white;
}

.button3{
  display: block;
  margin: auto;
  margin-bottom: 1em;
}


@media only screen and (min-width: 1000px) {
  .sticky{
    position: sticky;
    top: 0;
    padding-top: 1rem;
    background-color: #F2F3F4;
  }
}

.content-container{
  background-color: #F2F3F4;
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
}

.row{
  background-color: #F2F3F4;
  display: grid;
  gap: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  grid-template-columns: 2fr 1fr;
}

.col{
  background-color: #F2F3F4;
  height: 100%;
}

.col2{
  padding: 0;
  background-color: #F2F3F4;
  width: calc(100% - 1rem);
  height: max(15rem,190%);

}

.col3{
  height: 0;
  width: 0;
}


/* Media Queries - Tablet and Under */

@media(max-width: 1000px){
  .content-container{
    background-color: #f2f7ff;
    max-width: 90rem;
    height: 100%;
    margin: 0 auto;
  }
  .card{
    display: none;
  }
  .row{
    display: block;
    background-color: #f2f7ff;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .col{
    background-color: #f2f7ff;
    width: 100%;
    height: 100%;
  }
  .col2{
    display:none;
  }
  .col3{
    display: none;
  }
}



/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D7EEFE;
  border: 1px solid black;
  border-radius: 10px;
}
